body {
  background-color: #222222;
  color: #fafafa;
  font-family: sans-serif;
}
*{ /*every element to 0 padding and margin */
  margin: 0;
  padding: 0;
  /*border:2px solid red;*/
}


/* The sidebar menu */
#logo{
  margin-top: 0px;
  }

#first{
  margin-top: 90px;
  }
  
.sidenav {
display: block;
 height: 100%; /* Full-height: remove this if you want "auto" height */
 width: 180px; /* Set the width of the sidebar */
 position: fixed; /* Fixed Sidebar (stay in place on scroll) */
 top: 0; /* Stay at the top */
 left: 0;
 background-color: #1a1919; /* Black */
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 20px;
 z-index: 1000;
}

/* The navigation menu links */

.sidenav a {
 display: flex;
 text-decoration: none;
 font-size: 25px;
 color: #818181;
 display: block;
}
.sidenav_links a{
  padding: 6px 8px 6px 16px;
}

/* mouse hover color to white */
.sidenav a:hover
{
 color: #fafafa;
}

/* sidenav contacts */
.sidenav_contacts {
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 10px;
}
.sidenav_contacts img{
  padding: 6px;
  height: 40px;
}

header,footer {
  margin: auto;
  padding-left: 19vw;
  padding-right: 7vw;
}



/* footer {
  margin-top: 20px;
} 
seems to be unnecessary
*/


/* small screen scaling */
@media screen and (max-width: 1200px) {
 .sidenav {
   display:none;
  }
 .sidenav.open {
   display: block;
 }
    #logo{
       margin-top: 120px;
    }
    #first{
       margin-top: 30px;
    }
 header, footer{ 
   padding-left: 0px;
   padding-right: 0px;
   width: 80%;
  }
  wrapper{
    display: block;
  }
}

/*coming soon page */
#soon {
  margin-top: 40vh;
  color: #3fdaca;
  font-size: 70px;
  font-weight: 800;
  width: 100%;
}
